/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del body */
body {
    font-family: "Inter", sans-serif;
}
/* Estilos del Header */
header{
    display: flex;
    justify-content:space-between;
    align-items: center;

    border-bottom: 1px solid #e5e7eb;
    padding: 1rem 2rem;


}
.logo{
    padding-left: 1rem;
    color: #2563eb;
    font-weight: bold;
}
/* Estilos del Nav / Menu */
ul{
    display: flex;
    list-style: none;
    gap: 2rem;

    padding-right: 2rem;


}
/* Estilos de los enlaces */
a{
    text-decoration: none;
    color: #4b5563;
    font-weight: 500;
}


/* Estilos del HERO */

.hero{
    text-align: center;
    padding:8rem 7rem;
}

.titulo-inicial h2{
    padding: 2rem 2rem;
    font-size: 2rem;
}
.titulo-inicial p{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.convertidor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;



    border: 1px dashed #64748b;
    padding: 8rem;
    margin: 0 auto;
    max-width: 700px;
}

.convertidor p{
    font-size: 1.2rem;
}
.form-text{
    color: #64748b;
    font-size: 0.9rem;
}

/* Estilos del Input */
#archivo-usuario{
    display: none;
}

/* Estilos del label */
.form-label{
    background-color: #2563eb;
    color: #F8FAFC;
    padding:0.8rem 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

/* Estilos del SVG */
svg{
    color: #2563eb;
    width: 3rem;
    height: 3rem;
}


/* Estilos de los Formatos */

.formatos{
    padding: 4rem 2rem;
}
.titulo-formato{
    padding: 2rem 2rem;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.formatos-compatibles{
    display:flex;
    justify-content: center;
    gap:7rem;
}
article{
    background-color: #F8FAFC;
    border-radius: 0.5rem;
    padding: 2rem;
    width:14rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

svg{
    color: #2563eb;
    width: 3rem;
    height: 3rem;
}
.text-format{
    color: #64748b;
    font-size: 0.9rem;
}


/* Estilos de la seccion de instrucciones */

.instrucciones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 4rem 2rem;
}

.contenedor-instrucciones{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
    color: #334155;

}

.contenedor-instrucciones h4{
    font-size: 1.5rem;
}

.imagen-instrucciones{
    max-width: 100%;
    width: 450px;
    border-radius: 1rem;
}


/* Estilos del Footer */
footer{
    background-color: #f8f9fa;
    padding: 4rem;
    border-top: 1px solid #e5e7eb;
    text-align: center;
}

footer small{
    color: #64748b;
    letter-spacing: 0.05em;
}